{% extends 'base.html' %}

{% block app_content %}
<a href="{{ url_for('index') }}" class="btn btn-warning home">Home</a>
<a href="{{ url_for('life') }}" class="btn btn-info refresh">Refresh</a>
<div class="counter">{{ game.generation_count }}</div>
<table class="world">
    {% for row in range(game.world|length) %}
        <tr>
            {% for col in range(game.world[0]|length) %}
                {% if game.world[row][col] == 1 %}
                    <td class="cell living-cell"></td>
                {% elif game.world[row][col] == 0 and game.old_world[row][col] == 1 %}
                    <td class="cell dead-cell" ></td>
                {% else %}
                    <td class="cell"></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>setInterval(() => window.location.reload(), 1000)</script>
{% endblock %}
